




.my-courses-page {
    -fx-padding: 30 40; 
    -fx-spacing: 20;
    -fx-background-color: transparent;
}


.course-list-flow {
    -fx-hgap: 25; 
    -fx-vgap: 25; 
    -fx-padding: 10 0 50 0;
    -fx-alignment: top-left;
}


.page-title {
    -fx-font-size: 28px;
    -fx-font-weight: 900;
    -fx-text-fill: #1E293B;
}

.page-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #64748B;
}


.empty-state-label {
    -fx-font-size: 16px;
    -fx-text-fill: #64748B;
    -fx-padding: 50;
    -fx-alignment: center;
    -fx-font-style: italic;
}






.my-course-card {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-effect: dropshadow(three-pass-box, rgba(148, 163, 184, 0.15), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-padding: 0; 
    -fx-border-color: #F1F5F9;
    -fx-border-width: 1;
}

.my-course-card:hover {
    -fx-translate-y: -5; 
    -fx-effect: dropshadow(three-pass-box, rgba(59, 130, 246, 0.25), 20, 0, 0, 8);
    -fx-border-color: #3B82F6; 
}


.course-title-text {
    -fx-font-size: 15px;
    -fx-font-weight: 800;
    -fx-text-fill: #1E293B;
}

.course-progress-text {
    -fx-font-size: 11px;
    -fx-text-fill: #64748B;
}


.course-progress-bar .track {
    -fx-background-color: #F1F5F9;
    -fx-background-radius: 10;
}
.course-progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #3B82F6, #2563EB);
    -fx-background-radius: 10;
}


.btn-enter-course {
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 0;
    -fx-cursor: hand;
}
.btn-enter-course:hover {
    -fx-background-color: #2563EB;
    -fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.3), 8, 0, 0, 2);
}






.dark-theme .page-title { -fx-text-fill: #F8FAFC; }
.dark-theme .page-subtitle { -fx-text-fill: #94A3B8; }


.dark-theme .my-course-card {
    -fx-background-color: #1E293B; 
    -fx-border-color: #334155;     
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 12, 0, 0, 4);
}

.dark-theme .my-course-card:hover {
    -fx-border-color: #38BDF8; 
    -fx-effect: dropshadow(three-pass-box, rgba(56, 189, 248, 0.3), 20, 0, 0, 0); 
}


.dark-theme .course-title-text {
    -fx-text-fill: #F8FAFC; 
}

.dark-theme .course-progress-text {
    -fx-text-fill: #CBD5E1; 
}


.dark-theme .course-progress-bar .track {
    -fx-background-color: #0F172A; 
}
.dark-theme .course-progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #3B82F6, #38BDF8); 
    -fx-effect: dropshadow(three-pass-box, rgba(56, 189, 248, 0.5), 8, 0, 0, 0); 
}


.dark-theme .btn-enter-course {
    -fx-background-color: #2563EB;
}
.dark-theme .btn-enter-course:hover {
    -fx-background-color: #3B82F6;
}